# file extensions
*.mp4
*.pkl.gz
*.pkl
*.csv
!Model/data/output/*_meta.csv
*.pt
*.zip

# folders
.idea/
.venv/
.ipynb_checkpoints/
__pycache__/
Model/data/output/
Model/data/models/
Model/data/input/
.eggs/
*.egg-info/
